
# node.js
node_modules/
npm-debug.log
yarn-error.log

# Bundle artifact
*.jsbundle

# CocaPods
/ios/Pods/

# Temporary files
.metro-health-check*

#expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

fetxhDb.js
fetchIo.js

Aplication-0/
/Server
/Images

